<h1>Feed</h1>
<div class="col-md-12">
  <div><h3><%= @feed.content %></h3></div>
  <div><i><%= @feed.user.email %></i></div>
  <br>
  <%= form_for :comment,url: {action: "comment", controller: "feeds"} do |f| %>
    <p>
      <%= f.text_area :comment, class: "form-control" %>
    </p>
    <%= f.hidden_field :feed_id, :value => @feed.id %>
    <p>
      <%= f.submit "Comment", class: "btn btn-success" %>
    </p>
  <% end %>
  <% @feed.comments.reverse.each do |comment| %>
  <div class="col-md-6">
    <div class="block">
      <div><strong><%= comment.comment %></strong>  </div>
      <div><i><%= comment.created_at.strftime("%d %B %Y") %></i></div>
    </div>
  </div>
  <% end %>
</div>